.invisible-page {
  width: 100%;
  height: 90vh;
}

.rip-page {
  width: 100%;
  background-image: url(images/green-background-rip.webp);
  height: 15vh;
  margin-bottom: -.5rem;
}

.third-page {
  width: 100%;
  max-height: 205vh;
  background-color: #a0ae96;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .art-container {
  margin-top: 2rem;
  columns: 3 350px;
  gap: 1rem;
  padding: 2rem;
}

.container .art-container img {
  margin-bottom: 2.3rem;
  width: 90%;
  border: .8rem solid white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.art img:hover {
  opacity: 0.7;
}

 
.preview-box .img-box img{
  max-width: 100%;
  height: auto;
  max-height: 80vh;
}

.art-title {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.art-title p {
  font-size: 0.8rem;
  font-weight: 800;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5em;
  max-width: 85ch;
  border: 0;
  max-height: 90vh; 
  overflow-y: hidden; 
}

.modal:focus {
  outline: none;
}

.modal::backdrop {
  background: rgba(255, 255, 255, 0.351);
}

.line-divider img{
  position: absolute;
  width: 100%;
  max-width: 94.5rem;
  margin-top: -5rem;
  transform: rotate(2deg);
}
