.invisible-page {
  width: 100%;
  height: 75dvh;
}

.third-page {
  width: 100%;
  height: 240dvh;
}

.green-background {
  position: absolute;
  z-index: -2;
  min-width: 100%;
  height: 240dvh;
  object-fit: cover;
}

.container {
  width: 100%;
  margin-left: 29px;
}

.art-gallery {
  display: flex;
  justify-content: center;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5.4rem;
  margin-top: 11.5rem;
}

.art img {
  width: 84%;
  height: 100%;
  object-fit: cover;
  border: 10px solid white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  cursor: pointer;
}

.art img:hover {
  opacity: 0.7;
}

 
.preview-box .img-box img{
  max-width: 100%;
  height: auto;
  max-height: 80vh;
}

.art-title {
  margin-top: 1.2rem;
  margin-bottom: -1.5rem;
}

.art-title p {
  font-size: 0.85rem;
  font-weight: 800;

}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2.8em;
  max-width: 85ch;
  border: 0;
  max-height: 90vh; 
  overflow-y: hidden; 
}

.modal:focus {
  outline: none;
}

.modal::backdrop {
  background: rgba(255, 255, 255, 0.286);
}

.added-page {
  background-color: #a0ae96;
  width: 100%;
  height: 5dvh;
}

.line-divider img{
  width: 125%;
  margin-top: -5rem;
  transform: rotate(2deg);
  overflow: visible;
}
