.fourth-page {
  width: 100%;
  height: 40vh;
  background-color: #68b1af;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.made-name h2{
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: clamp(1rem, 5vw + 1rem, 3.6rem);
  white-space: nowrap;
  font-size: 3.6rem;
  margin-right: 6rem;
  margin-top: 3.7rem;
  line-height: 5rem;
}

.dev {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-size: clamp(1rem, 5vw + 5rem, 8rem);
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.socials a {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-decoration: none;
}

.socials a:hover {
  color: #ebde92;
  transition: 0.05s ease-in;
  cursor: pointer;
}

.white-flower {
  position: relative;
  bottom: 12rem;
  left: -2rem;
}

.white-flower img{
  position: relative;
  width: min(99%, 1500px);
  mix-blend-mode: screen;
  object-fit: cover;
}

@media (max-width: 1200px) {
  
}
    