.second-page {
  width: 100%;
  height: 140dvh;
  position: relative;
}

.second-page-container {
  max-width: 100%;
  height: 140dvh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.first-green-background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 140vh;
  object-fit: cover;
}

.second-page::after {
  content: '';
  left: 0;
  bottom: 9rem;
  z-index: 20;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #332935, transparent);
  visibility: hidden;
}

.pic-objects {
  width: min(100%, 1300px);
  margin-right: max(1vh, -2rem); 
}

.gab {
  width: max(100%, 30rem);
  opacity: 95%;
  position: relative;
}

.paragraph-statement {
  margin-left: max(1vh, 1.5rem); 
}

.second-page .intro-text {
  color: white; 
  font-weight: 600;
  line-height: 0.9;
  margin-bottom: 2rem;
  margin-left: max(1vh, 1rem);
}

.intro-text p {
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(3rem, 10vw + 2rem, 13rem);
}

.text-column-objects {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: min(100%, 1500px);
  margin-left: max(1vh, 2rem); 
  margin-top: 4rem;
}

.paragraph-statement .text-gab {
  color: #ebde92;
}

.paragraph-statement p {
  font-size: clamp(0.7rem, 2vw + 0.3rem, 1.1rem);
  color: white;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
